.features {
    display: flex;
    align-items: center;
    gap: 1rem;
    transform: translateY(-0.5rem);
}

.btn {
    padding: 0.4rem 0.8rem;
    font-weight: 600;
    border: 1px solid var(--сlr-main);
    border-radius: 0.4rem;
    transition: all 0.2s ease;
}

.btn_transparent {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.btn_transparent:hover {
    background-color: var(--clr-pale);
}

.btn_red {
    color: var(--clr-bg);
    background-color: var(--clr-red-400);
    border-color: var(--clr-red-400);
}

.btn_red:hover {
    background-color: var(--clr-red-500);
}