.header {
    max-width: var(--lg);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--сlr-main);
}

.header * {
    color: inherit;
}